/* Universal selector */
*{
    padding: 0;
    margin: 0;
}

/* Element selector */
body {
    background-color: #e6d7d7;
    color: #333;
}

/* Element selector */
div {
    color: blue;
}

/* Class selector */
.hero {
    padding: 100px;
}

.hero__title {
    color: black;
}

.hero__description {
    color: rgb(56, 125, 56);
}

.hero__highlight {
    color: rgb(136, 201, 150);
}